<metal:main
        xmlns:tal="http://xml.zope.org/namespaces/tal"
        xmlns:metal="http://xml.zope.org/namespaces/metal"
        use-macro="load: layout.html">
    <tal:block metal:fill-slot="header">
        <title>Change password - hypertextual</title>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#curr_pw").focus().select();
            });
        </script>
    </tal:block>
    <tal:block metal:fill-slot="content">
        <form method="post">
            <table>
                <tr>
                    <td>Current password:</td>
                    <td><input type="password" name="curr_pw" tal:attributes="value curr_pw" maxlength="100" /></td>
                    <td class="error-message" tal:content="errors.get('curr_pw','')"></td>
                </tr>
                <tr>
                    <td>New password:</td>
                    <td><input type="password" name="new_pw" tal:attributes="value new_pw" maxlength="100" /></td>
                    <td class="error-message" tal:content="errors.get('new_pw','')"></td>
                </tr>
                <tr>
                    <td>Confirm new password:</td>
                    <td><input type="password" name="pconfirm" tal:attributes="value pconfirm" maxlength="100" /></td>
                    <td class="error-message" tal:content="errors.get('pconfirm','')"></td>
                </tr>
            </table>
            <button type="submit">Change password</button>
            <span tal:condition="success" class="success">Success!</span>
        </form>
    </tal:block>
</metal:main>
