<metal:main
        xmlns:tal="http://xml.zope.org/namespaces/tal"
        xmlns:metal="http://xml.zope.org/namespaces/metal"
        use-macro="load: layout.html">
    <tal:block metal:fill-slot="header">
        <title>Create Account - hypertextual</title>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#uid").focus().select();
            });
        </script>
    </tal:block>
    <tal:block metal:fill-slot="content">
        <form method="post">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="uid" id="uid" tal:attributes="value uid" maxlength="30" /></td>
                    <td class="error-message" tal:content="errors.get('uid','')"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" tal:attributes="value email" maxlength="100" /></td>
                    <td class="error-message" tal:content="errors.get('email','')"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="pw" tal:attributes="value pw" maxlength="100" /></td>
                    <td class="error-message" tal:content="errors.get('pw','')"></td>
                </tr>
                <tr>
                    <td>Confirm password:</td>
                    <td><input type="password" name="pconfirm" tal:attributes="value pconfirm" maxlength="100" /></td>
                    <td class="error-message" tal:content="errors.get('pconfirm','')"></td>
                </tr>
            </table>
            <button type="submit">Create account</button>
        </form>
        <div class="margin-above">
            Note: Email address is optional, but without it we cannot
            reset your password if you forget it.
        </div>
    </tal:block>
</metal:main>
