<metal:main
    xmlns:tal="http://xml.zope.org/namespaces/tal"
    xmlns:metal="http://xml.zope.org/namespaces/metal"
    use-macro="load: layout.html">
    <tal:block metal:fill-slot="content">
        <tal:block replace="structure doc_html"></tal:block>
        <p>Active accounts:</p>
        <ul>
            <li tal:repeat="acct accts">
                <a tal:attributes="href '%s/%s' % (site_url, acct.uid)" tal:content="acct.uid"></a>
            </li>
        </ul>
    </tal:block>
</metal:main>
