<metal:main
    xmlns:tal="http://xml.zope.org/namespaces/tal"
    xmlns:metal="http://xml.zope.org/namespaces/metal"
    use-macro="load: layout.html">
    <tal:block metal:fill-slot="header">
        <title><tal:block replace="page.title" /> - <tal:block replace="page.acct.uid" /> - hypertextual</title>
    </tal:block>
    <tal:block metal:fill-slot="content">
        <span>
            <span class="page-title" tal:content="page.title">title</span>
            <tal:block condition="page.curr_rev_num!=rev_num">
                <!-- link to latest revision -->
                - <a tal:attributes="href page.get_url()">Go to latest revision</a>
            </tal:block>
        </span>
        <div id="pageViewButtons" tal:condition="page.curr_rev_num==rev_num and g.current_user and g.current_user.uid==page.acct.uid">
            <span>
                <button type="button" tal:attributes="onclick 'location.href=\'%s/action/edit\'' % page.get_url()">Edit</button>
            </span>
            <tal:block condition="page.slug not in ['__home','__private']">
                <button type="button" tal:attributes="onclick 'location.href=\'%s/action/move\'' % page.get_url()">Move</button>
                <button type="button" tal:attributes="onclick 'location.href=\'%s/action/delete\'' % page.get_url()">Delete</button>
            </tal:block>
        </div>
        <div>
            <tal:block replace="structure page_html"></tal:block>
        </div>
        <hr class="margin-above" />
        <div class="page-footer">
            Revision: <tal:block content="rev_num if rev_num is not None else 'Draft only'"></tal:block>
        </div>
    </tal:block>
</metal:main>
