body {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 13px;
}

a {
    color: black;
}

a.link-same-user {
    color: black;
}

a.link-other-user {
    color: blue;
}

a.link-create {
    color: #ff4500;
}

a.link-does-not-exist {
    color: red;
}

a.link-redirected {
    color: orange;
}

a.link-private {
    color: #8a2be2;
}

a.link-external {
    color: green;
}

.error-message {
    color: red;
}

.page-title {
    font-weight: bold;
    font-size: 18px;
}

.page-footer {
    font-style: italic;
}

.margin-above {
    margin-top: 20px;
}

#userLinks {
    float: right;
}

div#pageEditArea {
    margin: 10px 0 10px 0;
}

#pageEditArea textarea {
    width: 100%;
    height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* iphone */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

    #userLinks {
        float: none !important;
        margin-top: 20px;
    }

}

/* iphone - portrait */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {

    body {
        -webkit-text-size-adjust: 400%;
        margin: 30px;
    }

}

/* iphone - landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: landscape) {

    body {
        -webkit-text-size-adjust: 300%;
        margin: 25px;
    }

}

/* ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}

/* ipad - portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}

/* ipad - landscape */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}
