body {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 13px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #user-links {
        float: none !important;
        margin-top: 20px;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation: portrait) {
    body {
        -webkit-text-size-adjust: 400%;
        margin: 30px;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation: landscape) {
    body {
        -webkit-text-size-adjust: 300%;
        margin: 25px;
    }
}

a {
    color: black;
}

a.link-same-user {
    color: orange;
}

a.link-different-user {
    color: blue;
}

a.link-create-page {
    color: red;
}

.error-message {
    color: red;
}

.page-title {
    font-weight: bold;
    font-size: 18px;
}

.page-footer {
    font-style: italic;
}