body {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 13px;
}

a {
    color: black;
}

a.link-same-user {
    color: orange;
}

a.link-different-user {
    color: blue;
}

a.link-create-page {
    color: red;
}

.page-title {
    font-weight: bold;
}

.page-footer {
    font-style: italic;
}