<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal">
<head>
    <script type="text/javascript" tal:attributes="src '%s/static/jquery-1.9.1.min.js' % site_url"></script>
    <link rel="stylesheet" type="text/css" tal:attributes="href '%s/static/styles.css' % site_url">
    <tal:block metal:define-slot="header"></tal:block>
</head>
<body>
    <a tal:attributes="href site_url">hypertextual</a>
    <tal:block tal:condition="exists:page">
        / <a tal:condition="page.acct" tal:attributes="href '%s/%s' % (site_url, page.acct.uid)" tal:content="page.acct.uid"></a>
        <tal:block condition="not page.acct">
            <a tal:condition="exists:acct" tal:attributes="href '%s/%s' % (site_url, acct.uid)" tal:content="acct.uid"></a>
        </tal:block>
    </tal:block>
    <div id="user-links" style="float: right;">
        <tal:block condition="g.current_user is None">
            <a tal:attributes="href '%s/site/login' % site_url">Log in</a> or
            <a tal:attributes="href '%s/site/create-account' % site_url">Create account</a>
        </tal:block>
        <a tal:condition="g.current_user is not None" tal:attributes="href '%s/site/logout' % site_url">
            Log out <tal:block content="g.current_user.uid"></tal:block>
        </a>
    </div>
    <hr />
    <div style="margin-top: 20px;">
        <tal:block metal:define-slot="content"></tal:block>
    </div>
</body>
