<metal:main
    xmlns:tal="http://xml.zope.org/namespaces/tal"
    xmlns:metal="http://xml.zope.org/namespaces/metal"
    use-macro="load: layout.html">
    <tal:block metal:fill-slot="content">
        <form method="post">
            <h3 tal:content="page.name_for_url"></h3>
            <div>
                name:<br />
                <input type="text" style="width:300px;" id="title" name="title" tal:attributes="value page.title" readonly="readonly" />
            </div>
            <div>
                text:<br />
                <textarea rows="20" style="width:500px;" id="text" name="text" tal:content="page.curr_text"></textarea>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </tal:block>
</metal:main>
