<metal:main
    xmlns:tal="http://xml.zope.org/namespaces/tal"
    xmlns:metal="http://xml.zope.org/namespaces/metal"
    use-macro="load: layout.html">
    <tal:block metal:fill-slot="header">
        <title><tal:block replace="page.title" /> - <tal:block replace="page.acct.uid" /> - hypertextual</title>
    </tal:block>
    <tal:block metal:fill-slot="content">
        <div>
            <span tal:content="page.title">title</span>
        </div>
        <div>
            <pre tal:content="page.get_text_for_rev(rev)">text</pre>
        </div>
        <div tal:condition="page.curr_rev_num==rev">
            <a href="./edit">Edit</a>
        </div>
    </tal:block>
</metal:main>
