<metal:main
    xmlns:tal="http://xml.zope.org/namespaces/tal"
    xmlns:metal="http://xml.zope.org/namespaces/metal"
    use-macro="load: layout.html">
    <tal:block metal:fill-slot="header">
        <title><tal:block replace="page.title" /> - hypertextual</title>
    </tal:block>
    <tal:block metal:fill-slot="content">
        <form method="post">
            <span class="page-title" tal:content="page.title">title</span>
            <div style="margin: 10px 0 10px 0;">
                <textarea rows="20" style="width:500px;" id="text" name="text" tal:content="page.curr_text"></textarea>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </tal:block>
</metal:main>
